


#Home-Page{
margin-top:200px;
margin-bottom:150px;
margin-right:150px;
margin-left:450px;

background:#2EFEF7;
  
border:3px solid #a1a1a1;
padding:9px 35px; 

width:500px;
border-radius:50px;

box-shadow: 7px 7px 7px;
}


#button{
border-radius:20px;
background:#008080;
font-weight:bold;
font-size:15px
}